body {
  background: lightgray;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

#header {
  border: 1px solid;
  padding: 3px;
  text-align: justify;
  background: darkcyan;
}

#header a {
  text-decoration: none;
  color: white;
}

#header a:hover {
  background: gray;
}

img {
  width: 70px;
  border-radius: 50%;
  float: left;
}

table {
  border: 1px solid black;
  padding: 3px;
  margin-top: 5px;
}
th {
  border-bottom: 1px solid black;
}

#footer {
  color: white;
  text-align: center;
  background: darkcyan;
}

#footer a {
  color: yellow;
  text-align: right !important;
}

section p {
  text-align: justify;
  padding: 5px;
}
